PORT=3000
DB_DIALECT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=qz_electrobike
DB_USER=electrobike_user
DB_PASSWORD=electrobike_pass
DB_AUTO_CREATE=false
DB_SSL=false
MYSQL_ROOT_PASSWORD=root_secret
